<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lss.SpringCloud.mapper.FindCategoryTreeChildrenMapper">
  <resultMap id="BaseResultMap" type="com.lss.SpringCloud.entities.FindCategoryTreeChildren">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="categorylistid" jdbcType="INTEGER" property="categorylistid" />
  </resultMap>
</mapper>